body {
  background-color: lightblue;
}
table, th, td {
  border: 4px solid green;
}
td {
  text-align: center;
}
th {
  background-color: green;
  color: white;
}
table {
  border-collapse: collapse;
  border: 3px solid black;
  margin-left: 20px auto;
}

p {
  
  color: yellow;
  font-size: 30px;
  text-align: center;
  
}

h1 {
  
  color: rgb(0, 0, 0);
  text-align: center;
   font-size: 40px;
  
}

a {
  box-shadow: lightslategray;
  bottom: auto;
}

h1 {
  text-align: center;
}

.button {
  bottom: auto;
  background-color: ;
  border: brown;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.button:hover {
  background-color: lightgray;
  color: red;
}

.nav_link{
  background-color: white;
  color: black;
  border: 2px solid darkgoldenrod;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
}
.nav_link:hover {
    background-color: darkgoldenrod;
    color: white;
/* .nav_link {
  color: red;
} */
