body {
  background-color: lightblue;
}
table, th, td {
  border: 4px solid rgba(8, 8, 8, 0.61);
}
td {
  text-align: center;
}
th {
  background-color: rgba(28, 27, 31, 0.589);
  color: rgb(187, 255, 0);
}
table {
  background-color: rgba(19, 141, 211, 0.479);
  color: rgb(255, 255, 255);
  border-collapse: collapse;
  border: 3px solid black;
  flex-direction: column;
}

p {
  
  color: yellow;
  font-size: 30px;
  text-align: center;
  
}
h2 {
  color:white;
  text-shadow: 5px 5px 5px black;
}
h3 {
  color:white;
  text-shadow: 5px 5px 5px black;
  text-decoration: none;
}
h4 {
  color:rgb(25, 0, 255);
  text-shadow: 5px 5px 5px black;
  text-decoration: none;

}
 
.head{
  background-color: rgb(19, 141, 211, 0.479);
  border: 5px solid rgba(8, 8, 8, 0.61);
  border-radius: 30px;
  width: 200px;
  padding: 10px 20px;
  color :white;
  margin-left: 20px;
}

h1 {
  text-shadow: 5px 5px 5px black;
  color: rgb(255, 255, 255);
  text-align: center;
   font-size: 40px;
  
}

a {
  box-shadow: lightslategray;
  bottom: auto;
}

h1 {
  text-align: center;
}

tr:hover{
  background-color: rgba(142, 221, 235, 0.541);
}

.button {
  bottom: auto;
  background-color: rgba(236, 65, 65, 0.726) ;
  border: brown;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.button:hover {
  background-color: lightgray;
  color: red;
}

.nav{
  position: absolute;
	height: 100%;
  width: 250px;
  box-shadow: 3px, 3px, 3px, black;
 
	
    align-items: space-around;


}


.con {

	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;


}


.nav_link{
  border: 2px solid rgb(28, 48, 75);
  border-radius: 7px;
  width: 200px;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 5px;
  box-shadow: 3px, 3px, 3px, black;
}

.relacje{
  text-align: center;
  margin-left: 20px;
}

.nav_link:hover {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 7px;
    background-color: rgba(28, 48, 75, 0.836);
    color: white;
    box-shadow: 3px, 3px, 3px, black;
    width: 230px;
    height: 35px;
    font-size: 23px;
    transition: 0.3s;
}




.gallery {
  display: flex;
}

.row {
  background-color: rgba(0, 110, 255, 0.486);
}

.image {
  background-color: rgba(9, 136, 179, 0.808);
  margin: 5px;
  padding: 0px;
  width: 500px;
  height: 300px;
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: contain, cover; */
  background-position: center;
  background-size: cover;
  transition: 0.51s;
}

.image:hover {
  transform: scale(0.98);
  filter: saturate(2.2) brightness(1.4);
}

.foto01 {
  background-image: url("https://www.purepc.pl/image/news/2021/04/24_cyberpunk_2077_wiemy_ile_wyniosl_budzet_na_sama_produkcje_gry_cd_projekt_red_a_ile_na_kampanie_marketingowa_1_b.jpg");
}
.foto01:hover {
  background-image: url("https://www.purepc.pl/image/news/2021/04/24_cyberpunk_2077_wiemy_ile_wyniosl_budzet_na_sama_produkcje_gry_cd_projekt_red_a_ile_na_kampanie_marketingowa_1_b.jpg");
}

.foto02 {
  background-image: url("https://static.cdprojektred.com/thewitcher.com/media/wallpapers/witcher3/big/witcher3_pl_wallpaper_wiedzmin_3_dziki_gon_geralt_i_trofea_1920x1080_1449484774.jpg");
}

.foto03 {
  background-image: url("https://katalogmarzen.pl/img/products/2/2019_06/balon-z-pasazerami-podczas-lotu-jpg.jpg");
}

.foto01_title {
  background-color: rgba(255, 255, 255, 0.123);
  padding: 2px;
  display: block;
  text-decoration: none;
  color: white;
}
.foto01_price {
  background-color: rgba(255, 255, 255, 0.123);
  padding: 2px;
  display: block;
}
span{
  text-decoration: none;
}