body {
  background-color: lightblue;
}
table, th, td {
  border: 4px solid green;
}
td {
  text-align: center;
}
th {
  background-color: green;
  color: white;
}
table {
  background-color: orange;
  color: rgb(221, 73, 73);
  border-collapse: collapse;
  border: 3px solid black;
  flex-direction: column;
}

p {
  
  color: yellow;
  font-size: 30px;
  text-align: center;
  
}

h1 {
  
  color: rgb(0, 0, 0);
  text-align: center;
   font-size: 40px;
  
}

a {
  box-shadow: lightslategray;
  bottom: auto;
}

h1 {
  text-align: center;
}

.button {
  bottom: auto;
  background-color: rgba(236, 65, 65, 0.726) ;
  border: brown;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.button:hover {
  background-color: lightgray;
  color: red;
}

.nav{
  position: fixed;
	height: 100%;
  width: 250px;
  box-shadow: 3px, 3px, 3px, black;
 
	
    align-items: space-around;


}


.con {

	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;


}


.nav_link{
  border: 2px solid rgb(170, 125, 10);
  border-radius: 5px;
  width: 200px;
  text-decoration: none;
  background-color: white;
  color: black;
  border: 2px solid darkgoldenrod;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 3px, 3px, 3px, black;
}
.nav_link:hover {
  border: 2px solid (darkgoldenrod);
  border-radius: 5px;
    background-color: darkgoldenrod;
    color: white;
    box-shadow: 3px, 3px, 3px, black;
    width: 230px;
    height: 35px;
    font-size: 23px;
    transition: 0.3s;
}