body {
  background-color: lightblue;
}
table, th, td {
  border: 4px solid rgba(8, 8, 8, 0.61);
}
td {
  text-align: center;
}
th {
  background-color: rgba(28, 27, 31, 0.589);
  color: rgb(187, 255, 0);
}
table {
  background-color: rgba(19, 141, 211, 0.479);
  color: rgb(255, 255, 255);
  border-collapse: collapse;
  border: 3px solid black;
  flex-direction: column;
}

p {
  
  color: yellow;
  font-size: 30px;
  text-align: center;
  
}
h2 {
  color:white;
}
h3 {
  color:white;
}
 
.head{
  background-color: rgba(0, 255, 157, 0.582);
  margin-left: 20px;
  border: 5px solid rgba(15, 20, 22, 0.644);
  border-radius: 30px;
  width: 200px;
  padding: 10px 20px;
  color :white;
}

h1 {
  
  color: rgb(255, 255, 255);
  text-align: center;
   font-size: 40px;
  
}

a {
  box-shadow: lightslategray;
  bottom: auto;
}

h1 {
  text-align: center;
}

tr:hover{
  background-color: rgba(142, 221, 235, 0.541);
}

.button {
  bottom: auto;
  background-color: rgba(236, 65, 65, 0.726) ;
  border: brown;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.button:hover {
  background-color: lightgray;
  color: red;
}

.nav{
  position: absolute;
	height: 100%;
  width: 250px;
  box-shadow: 3px, 3px, 3px, black;
 
	
    align-items: space-around;


}


.con {

	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;


}


.nav_link{
  border: 2px solid rgb(170, 125, 10);
  border-radius: 7px;
  width: 200px;
  text-decoration: none;
  background-color: white;
  color: black;
  border: 2px solid darkgoldenrod;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 5px;
  box-shadow: 3px, 3px, 3px, black;
}
.nav_link:hover {
  border: 2px solid (darkgoldenrod);
  border-radius: 7px;
    background-color: darkgoldenrod;
    color: white;
    box-shadow: 3px, 3px, 3px, black;
    width: 230px;
    height: 35px;
    font-size: 23px;
    transition: 0.3s;
}